/* colors */

* {
    al:      #00000000;
    bg:      #131d28;
    se:      #151f2a;
    fg:      #678d92;
    ac:      #2f556e;
    red:     #c35254;
    green:   #0e5c5d;
    yellow:  #3e487b;
    blue:    #2f556e;
    purple:  #5a3e6c;
    cyan:    #176f7d;
}
