/* colors */

* {
    al:      #00000000;
    bg:      #030707;
    se:      #030707;
    ts:      #030707;
    fg:      #c3d2af;
    ac:      #6c833b;
    red:     #7e1500;
    green:   #455f3b;
    yellow:  #7e9133;
    blue:    #456b56;
    purple:  #796b2f;
    cyan:    #6c833b;
}
