/* colors */

* {
    al:      #00000000;
    bg:      #191215;
    se:      #191215;
    ts:      #191215;
    fg:      #afa492;
    ac:      #385258;
    red:     #651f36;
    green:   #414b3d;
    yellow:  #6f6638;
    blue:    #3e4158;
    purple:  #553b4d;
    cyan:    #385258;
}
