$XDG_CONFIG_HOME/X/Xresources             xresources
$XDG_CONFIG_HOME/X/xinitrc                xinitrc
$XDG_CONFIG_HOME/bash/bashrc              bashrc
$XDG_CONFIG_HOME/bash/profile             profile
$XDG_CONFIG_HOME/bspwm-polybar/config.ini polybar
$XDG_CONFIG_HOME/nvim/init.vim            vimrc
$XDG_CONFIG_HOME/picom.conf               picom
$XDG_CONFIG_HOME/dots.config              dots
$XDG_CONFIG_HOME/backup.config            backup
$XDG_CONFIG_HOME/edit_dirs.config         edit_dirs
$XDG_CONFIG_HOME/shortcuts.config         shortcuts
$XDG_CONFIG_HOME/bspwm/bspwmrc            bspwmrc
$XDG_CONFIG_HOME/bsp-layout/layoutrc      layoutrc
$XDG_CONFIG_HOME/newsboat/urls            newsboat

$XDG_CONFIG_HOME/sxhkd/app.sxhkdrc        app.sxhkdrc
$XDG_CONFIG_HOME/sxhkd/common.sxhkdrc     common.sxhkdrc
$XDG_CONFIG_HOME/sxhkd/constants.sxhkdrc  constants.sxhkdrc
$XDG_CONFIG_HOME/sxhkd/layout.sxhkdrc     layout.sxhkdrc
$XDG_CONFIG_HOME/sxhkd/normal.sxhkdrc     normal.sxhkdrc
$XDG_CONFIG_HOME/sxhkd/system.sxhkdrc     system.sxhkdrc
$XDG_CONFIG_HOME/sxhkd/navigation.sxhkdrc navigation.sxhkdrc

$XDG_CONFIG_HOME/rofi/style.rasi          rofi-theme
$XDG_CONFIG_HOME/rofi/launcher.sh         rofi-launcher
$XDG_CONFIG_HOME/dunst/dunstrc.in         dunstrc

$HOME/.local/bin/disk_backup              disk_backup

/etc/profile                              etc/profile
