unixporn        brave reddit.com/r/unixporn
schedule        zathura ~/usr/studies/DV/current/schedule.pdf
config          dmenu_dir_edit $XDG_CONFIG_HOME
edit            dmenu_dirs_edit
dots            dmenu_dots_edit
wall            $TERMINAL -e ranger $XDG_CONFIG_HOME/wall/
bin             $TERMINAL -e ranger ~/.local/bin
notes           $TERMINAL -e ranger ~/usr/notes
dwm             $TERMINAL -e ranger ~/src/builds/dwm
log             $TERMINAL -e ranger ~/.local/log/personal
quote           $TERMINAL -name floating -e nvim +$ ~/usr/notes/quotes.txt
write           $TERMINAL -e ranger ~/usr/writing/current
jrnl            $TERMINAL -e jrnl
shortcut        $TERMINAL -e nvim +$ $XDG_CONFIG_HOME/shortcuts.config
dit224-graphics $TERMINAL -e ranger ~/studies/computer-graphics-DIT224
dit347-software $TERMINAL -e ranger ~/studies/software-development-methodologies-DIT347
downloads       $TERMINAL -e ranger ~/usr/downloads
update          $TERMINAL -e yay -Syu --noconfirm && notify-send "Update complete"
colors          $TERMINAL -e sh -c 'cl-panes; bash'
screenshots     $TERMINAL -e ranger ~/usr/pictures/screenshots
mnt             $TERMINAL -e ranger /mnt
etc             $TERMINAL -e sudo ranger /etc
