unixporn        brave reddit.com/r/unixporn
schedule        zathura ~/usr/studies/DV/current/schedule.pdf
config          $TERMINAL -e ranger $XDG_CONFIG_HOME
dots            dmenu_dots_edit
wall            $TERMINAL -e ranger $XDG_CONFIG_HOME/wall/
bin             $TERMINAL -e ranger ~/.local/bin
notes           $TERMINAL -e ranger ~/usr/notes
dwm             $TERMINAL -e ranger ~/src/builds/dwm
log             $TERMINAL -e ranger ~/.local/log/personal
quote           $TERMINAL -name floating -e nvim +$ ~/usr/notes/quotes.txt
write           $TERMINAL -e ranger ~/usr/writing/2021
jrnl            $TERMINAL -name floating -e jrnl
shortcut        $TERMINAL -e nvim +$ $XDG_CONFIG_HOME/shortcuts.config
downloads       $TERMINAL -e ranger ~/usr/downloads
update          $TERMINAL -e yay -Syu --noconfirm && notify-send "Update complete"
colors          $TERMINAL -name floating -e sh -c 'colorbars; bash'
screenshots     $TERMINAL -e ranger ~/usr/pictures/screenshots
mnt             $TERMINAL -e ranger /mnt
etc             $TERMINAL -e sudo ranger /etc
herbe           $TERMINAL -e ranger ~/src/builds/herbe
nebula          $TERMINAL -e ranger ~/src/dev/Nebula
google_photo    $BROWSER https://photos.google.com/
sxhkd           $TERMINAL -e ranger $XDG_CONFIG_HOME/sxhkd
bspwm           $TERMINAL -e ranger $XDG_CONFIG_HOME/bspwm
todo            $TERMINAL -e nvim ~/usr/notes/goals/todo.md
studies         $TERMINAL -e ranger ~/usr/studies/DV/current
documents       $TERMINAL -e ranger ~/usr/documents
bookmarks       $TERMINAL -e ranger $BOOKMARKS_DIR
guide           $TERMINAL -e nvim ~/usr/notes/goals/guide.md
builds          $TERMINAL -e ranger ~/src/builds
tig095-interact $TERMINAL -e ranger ~/studies/human-computer-interaction-TIG095
dit561-bachelor $TERMINAL -e ranger ~/studies/bachelors-thesis-DIT561
blog            $TERMINAL -e ranger ~/src/site/hugo-palmdrop.github.io
pictures        $TERMINAL -e ranger ~/usr/pictures
repos           $TERMINAL -e ranger ~/src/repos
site            $TERMINAL -e ranger ~/src/site
polybar         $TERMINAL -e ranger ~/.config/bspwm-polybar
