unixporn brave reddit.com/r/unixporn
bin      st ranger ~/.local/bin
notes    st ranger ~/usr/notes
dwm      st ranger ~/src/builds/dwm
log      st ranger ~/.local/log/personal
edit     dmenu_dirs_edit
dots     dmenu_dots_edit
quote    st nvim +$ ~/usr/notes/quotes.txt
shortcut st nvim +$ $XDG_CONFIG_HOME/shortcuts.config
schedule zathura ~/usr/studies/DV/current/schedule.pdf
